/*
Font: Clash Grotesk
Downloaded from an external source:
https://fonts.googleapis.com/css2?family=Clash+Grotesk:wght@400;700&display=swap
*/

@import url('https://fonts.googleapis.com/css2?family=Clash+Grotesk:wght@400;700&display=swap');

/* Regular weight */
@font-face {
    font-family: 'Clash Grotesk';
    src: url('/static/fonts/ClashGrotesk-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Bold weight */
@font-face {
    font-family: 'Clash Grotesk';
    src: url('/static/fonts/ClashGrotesk-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

/* GLOBAL STYLES */
/* Body styling for global layout */
body {
    font-family: 'Clash Grotesk', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0;
    background-color: #ffffff;
    color: #000000;
}

/* Page Titles */
h1 {
    font-weight: normal;
    color: #CC0000; /* BU Red */
    text-align: center;
    margin: 20px 0;
}

h2 {
    font-weight: normal;
    color: black;
    text-align: center;
    margin: 20px 0;
}

h3{
    font-weight: normal;
    color: black;
    margin-top: 20px;
}

h4 {
    font-weight: normal;
    color: black;
}

/* HEADER STYLES */
/* Header navigation bar */
.header {
    background-color: #CC0000; /* BU's official red */
    padding: 15px 20px;
    text-align: center;
    border-radius: 15px 15px 0 0; /* Round top-left and top-right corners only */
}

.heading-container {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    height: 100%; /* Set height as full */
    text-align: left; /* Keeps the text aligned left */
}

.heading {
    display: inline-block; /* Shrinks to fit content */
}

/* Navigation links within the header */
.nav-links a {
    color: #ffffff; /* White text on red background */
    text-decoration: none;
    font-size: 18px;
    margin: 0 15px;
    font-weight: normal;
    letter-spacing: 0.5px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #000000;
}

.italic-text {
    font-size: 2em; /* Makes the second part of the text larger */
    font-style: italic; /* Adds italic style */
}

/* BUTTONS */
/* General button styling */
button, .btn {
    background-color: black;
    color: #ffffff;
    border: none;
    padding: 8px 8px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s; /* Smooth hovering effect */
}

button:hover, .btn:hover {
    background-color: #CC0000; /* Red on hover */
}

/* Danger button styling */
.btn-danger {
    background-color: #CC0000;
}

.btn-danger:hover {
    background-color: #CC0000;
}

/* FORMS */
/* Input, textarea, and select styling */
form input, form textarea, form select {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #dddddd;
    border-radius: 4px;
    font-size: 14px;
}

form button {
    margin-top: 10px;
}

/* LISTS */
/* General unordered list styling */
ul {
    list-style-type: none; /* Removes default list styling */
    padding: 0;
}

li {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 4px;
}

/* Links inside list items */
li a {
    color: #CC0000; /* BU Red */
    text-decoration: none;
    font-weight: normal;
    transition: color 0.3s;
}

li a:hover {
    color: black;
}

/* FOOTER STYLES */
/* Footer container */
.footer {
    background-color: #f7f7f7;
    text-align: center;
    padding: 10px;
    border-top: 1px solid #dddddd;
    margin-top: 20px;
}

/* Links within the footer */
.footer a {
    color: #CC0000; /* BU Red */
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

/* Cards for list items */
.card {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 6px;
    margin-bottom: 15px;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Search Bar */
input[type="search"] {
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    width: 70%;
    font-size: 16px;
}

input[type="search"]:focus {
    border-color: #CC0000;
    outline: none;
}

button[type="submit"] {
    padding: 8px 8px;
    margin-left: 10px;
}

/* CONTAINERS */
/* General container for sections */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #dddddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

/* Welcome message container */
.welcome-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto;
    padding-top: 10px;
}


