@import url('https://fonts.googleapis.com/css2?family=Clash+Grotesk:wght@400;700&display=swap');

/* Regular weight */
@font-face {
    font-family: 'Clash Grotesk';
    src: url('/static/fonts/ClashGrotesk-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Bold weight */
@font-face {
    font-family: 'Clash Grotesk';
    src: url('/static/fonts/ClashGrotesk-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

.italic-text {
    font-style: italic;
}

/* Global styles */
body {
    font-family: 'Clash Grotesk', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0;
    background-color: #ffffff;
    color: #000000;
}

/* Header Navigation */
.header {
    background-color: #CC0000; /* BU's official red */
    padding: 15px 20px;
    text-align: center;
    border-radius: 15px 15px 0 0; /* Round top-left and top-right corners only */
}

.nav-links a {
    color: #ffffff; /* White text on red background */
    text-decoration: none;
    font-size: 18px;
    margin: 0 15px;
    font-weight: normal;
    letter-spacing: 0.5px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #000000;
}

/* Buttons */
button, .btn {
    background-color: black;
    color: #ffffff;
    border: none;
    padding: 8px 8px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover, .btn:hover {
    background-color: #CC0000; /* Darker red for hover */
}

.btn-danger {
    background-color: #CC0000; /* Danger button style */
}

.btn-danger:hover {
    background-color: #CC0000;
}

/* Forms */
form input, form textarea, form select {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #dddddd;
    border-radius: 4px;
    font-size: 14px;
}

form button {
    margin-top: 10px;
}

/* Page Titles */
h1 {
    font-weight: normal;
    color: #CC0000; /* BU Red */
    text-align: center;
    margin: 20px 0;
}

h2 {
    font-weight: normal;
    color: black; 
    text-align: center;
    margin: 20px 0;
}

h3{
    font-weight: normal;
    color: black; 
    margin-top: 20px;
}

h4 {
    font-weight: normal;
    color: black; 
}

/* Lists */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 4px;
}

li a {
    color: #CC0000;
    text-decoration: none;
    font-weight: normal;
    transition: color 0.3s;
}

li a:hover {
    color: black;
}

/* Footer */
.footer {
    background-color: #f7f7f7;
    text-align: center;
    padding: 10px;
    border-top: 1px solid #dddddd;
    margin-top: 20px;
}

.footer a {
    color: #CC0000;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

/* Cards for list items */
.card {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 6px;
    margin-bottom: 15px;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Search Bar */
input[type="search"] {
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    width: 70%;
    font-size: 16px;
}

input[type="search"]:focus {
    border-color: #CC0000;
    outline: none;
}

button[type="submit"] {
    padding: 8px 8px;
    margin-left: 10px;
}

.container {
    max-width: 600px; /* Set the maximum width of the container */
    margin: 0 auto;   /* Center the container horizontally */
    padding: 20px;    /* Add padding for better spacing */
    border: 1px solid #dddddd; /* Optional: Add a border */
    border-radius: 8px; /* Optional: Add rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for depth */
    background-color: #ffffff; /* Optional: Background color */
}

.welcome-container {
    display: flex;
    align-items: center; /* Vertically align items */
    justify-content: space-between; /* Add space between the welcome message and button */
    max-width: 600px; /* Optional: Limit the width */
    margin: 0 auto; /* Center the container horizontally */
    padding-top: 10px;
}


