{% extends "project/base.html" %}

{% block title %}Academic Tracks{% endblock %}

{% block content %}
<h1>Academic Tracks 🐾</h1>

<!-- Search Bar for usernames -->
<div class="container">
<form action="{% url 'academictrack_list' %}" method="GET">
    <input type="search" name="user_search" placeholder="Search a username." aria-label="Search">
    <button type="submit">Search</button>
</form>
</div><br>

<div class="container">
<ul>
    {% for track in academic_tracks %}
        <li>
            <a href="{% url 'academictrack_detail' pk=track.id %}">{{ track.user.username }} - {{ track.year }}</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
</div>
