{% extends "project/base.html" %}

{% block content %}
<h1>{{ academic_track.user.username }}'s Academic Tracks</h1>

<!-- List all academic tracks -->
<h2>All Tracks:</h2>
<ul>
    {% for track in user_tracks %}
        <li>
            <a href="{% url 'academictrack_detail' track.pk %}">
                {{ track.year }} Track
            </a>
        </li>
    {% empty %}
        <li>No tracks available.</li>
    {% endfor %}
</ul>

<hr>

<!-- Details for the selected track -->
<h2>{{ academic_track.year }} Track Details</h2>
<h3>Classes Taken:</h3>
<ul>
    {% for year, classes in grouped_classes.items %}
        {% if classes %}
            <li>
                <h3>{{ year }}</h3>
                <ul>
                    {% for course in classes %}
                        <li>{{ course.course.course_name }} - {{ course.semester }} {{ course.year_taken }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endif %}
    {% endfor %}
</ul>

<a href="{% url 'academictrack_list' %}">Back to Academic Tracks</a>
{% endblock %}
