<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}BU CourseRoad{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/project.css' %}">
</head>
<body>
    <!-- Header Section -->
    <div class="header">
        <div class="nav-links">
            <a href="{% url 'home_page' %}">Home</a>
            <a href="{% url 'user_list' %}">Users</a>
            <a href="{% url 'academictrack_list' %}">Academic Tracks</a>
            <a href="{% url 'classreview_list' %}">Class Reviews</a>
            <a href="{% url 'course_list' %}">Courses</a>
        </div>
    </div>
    
    <!-- Main Content Section -->
    <div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>
