{% extends "project/base.html" %}

{% block title %}Class Reviews{% endblock %}

{% block content %}
<h1>Class Reviews</h1>

<!-- Search Bar for Class Names -->
<h2>Search Reviews</h2>
<form action="{% url 'classreview_list' %}" method="GET">
    <input type="search" name="class_search" placeholder="Search a class name or a username." aria-label="Search">
    <button type="submit">Search</button>
</form>

<ul>
    {% for review in class_reviews %}
        <li>
            <h2>{{ review.course.course_name }}</h2>
            <p><strong>Author:</strong> {{ review.author.username }}</p>
            <p><strong>Rating:</strong> {{ review.rating }}/5</p>
            <p><strong>Difficulty:</strong> {{ review.difficulty }}/5</p>
            <p><strong>Review:</strong> {{ review.review_text }}</p>
            <p><strong>Recommend:</strong> {{ review.recommend_to_take|yesno:"Yes,No" }}</p>
        </li>
        
    {% endfor %}
</ul>

<hr>

<!-- Add Class Review Form -->
<h2>Submit a Class Review</h2>
<form method="post" action="{% url 'classreview_list' %}">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
