{% extends "project/base.html" %}

{% block title %}Courses{% endblock %}

{% block content %}
<h1>Courses 🐾</h1>

<!-- Search Bar for usernames -->
<div class="container">
<form action="{% url 'course_list' %}" method="GET">
    <input type="search" name="class_search" placeholder="Search a course." aria-label="Search">
    <button type="submit">Search</button>
</form>
</div><br>

<div class="container">
<ul>
    {% for course in courses %}
        <li>
            <a href="{% url 'course_detail' pk=course.id %}">{{ course.course_name }}</a> - {{ course.department }}
        </li>
    {% endfor %}
</ul>
{% endblock %}
</div><br>
