{% extends "project/base.html" %}

{% block content %}

<!-- Refer to project.css file for specific styling classes -->
<div class="heading-container">
    <h1 class="heading">
        <!-- FYI: '⛕' is an emoji for styling -->
        <span class="italic-text">CourseRoad ⛕</span>
    </h1>
</div>

    <!-- Welcome section -->
    {% if user.is_authenticated %}
    <div class="welcome-container">
        <h3>Glad you're here, {{ user.username }}!</h3>
        <!-- Logout form -->
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="logout-button">Logout</button>
        </form>
    </div>

    <!-- Profile editing section -->
    <div class="container">
        <h2>Edit Your Profile ✍🏼</h2>
        <!-- Edit profile save form -->
        <form method="post" action="{% url 'home_page' %}">
            {% csrf_token %}
            {{ edit_profile_form.as_p }}
            <button type="submit" name="edit_profile">Save Changes</button>
        </form>
    </div><br>

    <!-- Academic tracks section -->
    <div class="container">
        <h2>Your Academic Tracks 📚</h2>
        <ul>
            {% for track in academic_tracks %}
                <li>
                    {{ track.year }}
                    <!-- Edit button -->
                    <a href="{% url 'edit_academic_track_course' track.pk %}" class="btn btn-primary btn-sm">Edit</a>
                    <!-- Delete button -->
                    <form method="post" action="{% url 'delete_academic_track' pk=track.pk %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </li>
            <!-- If user does not have any academic tracks
            (meaning they haven't submitted a form) then show the following -->
            {% empty %}
                <p>You don't have any academic tracks yet.</p>
            {% endfor %}
        </ul>
    </div><br>

    <!-- Add academic track section -->
    <div class="container">
        <h2>Add an Academic Track  📝</h2>
        <form method="post" action="{% url 'home_page' %}">
            {% csrf_token %}
            {{ academic_track_form.as_p }}
            <button type="submit" name="add_academic_track" class="btn btn-success">Add Track</button>
        </form>
    </div><br>

<!-- Else, if the user is NOT logged in, redirect them to login page,
    where they can also choose to sign up as a new user -->
{% else %}
    <a href="{% url 'login' %}">Login</a> | <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}

{% endblock %}
