{% extends "project/base.html" %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
    <title>{{ user.username }}</title>
</head>
<body>
    <h1>{{ user.username }} 🐾</h1>
    <!-- User Details  -->
    <div class="container">
        <p>Email: {{ user.email }}</p>
        <p>Major: {{ user.major }}</p>
        <p>Year of Graduation: {{ user.year_of_graduation }}</p>
    </div><br>

    <!-- User Academic Track  -->
    <div class="container">
    {% if user.academictrack_set.first %}
    <a href="{% url 'academictrack_detail' pk=user.academictrack_set.first.id %}">
        View Academic Track for {{ user.username }}
    </a><br>
    {% else %}
        <p>{{ user.username }} does not have an Academic Track.</p>
    {% endif %}

    <a href="{% url 'user_list' %}">Back to User List</a>
    </div>

</body>
</html>
{% endblock %}