{% extends "project/base.html" %}

{% block title %}User List{% endblock %}

{% block content %}
<!-- User list page: shows all the users of CourseRoad :)  -->
<h1>User List 🐾</h1>

<!-- Search bar for usernames -->
<div class="container">
    <form action="{% url 'user_list' %}" method="GET">
        <input type="search" name="user_search" placeholder="Search a username." aria-label="Search">
        <button type="submit">Search</button>
    </form>
</div><br>

<!-- How each user is shown in the list (username and major) -->
<div class="container">
    <ul>
        {% for user in users %}
            <li>
                <a href="{% url 'user_detail' pk=user.id %}">{{ user.username }}</a> - {{ user.major }}
            </li>
        {% endfor %}
    </ul>
    {% endblock %}
</div>

