<!-- main.html -->
{% extends 'restaurant/base.html' %}

{% block title %}Main - Korean Restaurant{% endblock %}

{% block content %}
    <h2>Welcome to Korean Restaurant</h2>
    <img src="/static/images/tteokbokki.jpg" alt="Restaurant Image" style="width:100%; max-width:600px; height:auto;">
    <p>Welcome to the best Korean restaurant in town! We offer a variety of delicious dishes to choose from.</p>
    <p>Location: 123 Korean St, Seoul, South Korea</p>
    <p>Hours of Operation:</p>
    <ul>
        <li>Monday - Friday: 10:00 AM - 10:00 PM</li>
        <li>Saturday - Sunday: 11:00 AM - 11:00 PM</li>
    </ul>
{% endblock %}
