{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mini Facebook</title>
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
</head>
<body>

    <!-- Header Section -->
    <header>
        <h1>Welcome to Mini Facebook.</h1>
        <!-- Link to create a new profile -->
        <p>
            <a href="{% url 'show_all_profiles' %}">View All Profiles</a> |
            <a href="{% url 'create_profile' %}">Create a New Profile</a> |
            {% if profile %}
                <a href="{% url 'news_feed' profile.pk %}">View News Feed</a>
            {% endif %}
        </p>
    </header>

    <!-- Navigation Section -->

    <!-- YOU DONT NEED THIS FOR NOW !!!!!!!!!! -->

    <!-- <nav>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
        </ul>
    </nav> -->

    <!-- Content Block -->
    <main>
        {% block content %}
        <!-- Specific content for each page goes here -->
        {% endblock %}
    </main>

    <!-- Footer Section -->
    <footer>
        <p>&copy; 2024 Mini Facebook by Dana Yim. All rights reserved.</p>
    </footer>

</body>
</html>
